body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    overflow-x: hidden;
}

.homepage {
    width: 100vw;
    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.homepage > h2 {
    font-weight: 500;
}

.avatar-img {
    width: 350px;
    height: 350px;
}

.waves-svg {
    width: 100vw;
    position: absolute;
    bottom:0;
}