@import "../../variables/variables.scss";

.button-cards {
    border: 2px solid $blueColor;
    border-radius: 5px;
    text-decoration: none;

    background-color: transparent;
    color: white;

    padding: 6px;
    margin: 5px;

    transition: background-color ease-in-out 0.2s;

    &:hover {
        cursor: pointer;
        background-color: $blueColor;
    }
}